/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #000000;
    position: relative;
}
.nav-links{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #e50914;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.back-btn {
    background: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.back-btn:hover {
    background-color: #e50914;
    border-color: #e50914;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.nav-links a:hover {
    color: #e50914;
}

.nav-profile a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.nav-profile a:hover {
    color: #e50914;
}

/* MEMBERS SECTION */
.members-section {
    padding: 30px 40px;
}

.members-section h2 {
    font-size: 24px;
    color: #e50914;
    margin-bottom: 20px;
}

/* SEARCH BAR */
.search-bar input {
    width: 100%;
    padding: 15px;
    background-color: #1f1f1f;
    border: 1px solid #333333;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}

.search-bar input::placeholder {
    color: #aaaaaa;
}

.members-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.member-card {
    background-color: #1f1f1f;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    font-size: 30px;
}

.member-name {
    font-weight: bold;
    flex: 1;
}

.member-films {
    color: #aaaaaa;
    margin-right: 15px;
}

.btn-follow {
    padding: 8px 20px;
    background-color: #e50914;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-follow:hover {
    background-color: #b20710;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #aaaaaa;
    margin-top: auto;
    cursor: default;
}